---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Trung Kien (some people call me norman), a wannabe developer from Vietnam. I'm currently a
        Student.
        <br />
        My primary focus skills are:
      </p>
      <ul class="list-disc list-inside">
        <li>C++</li>
        <li>Basic Web</li>
        <li>Python</li>
        <li>Pytorch/Tensorflow</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Competitive Programmer | Web Dev & Cybersecurity Newbie | Anime & VFX
      Editor | Self-taught Anime Pianist | Digital Arts Student
    </p>
    <p class="text-sm font-light">
      I might not be the best, but I'm trying my best to be better.
    </p>
  </div>
</Card>
